
<!-- buscar pregunta -->

 <form method="get" action="/quizes">        
        Filtrar Preguntas: 
        <input type="text" name="textoAbuscar" value=""/>
        <input type="submit" value="Buscar">
 </form>

<!-- lista de pregutas -->
<div>
  
  
  
<table>
  
  <tr>
    <td><a href="/quizes/new"><button>Crear pregunta</button></a></td>
  </tr>
  <tr>
    <td><strong>Tema</strong></td>
    <td><strong>Pregunta</strong></td>
    <td></td>
    <td></td>
  </tr>
  <% var i; for (i=0; i < quizes.length; i++) { %>    
    <tr>
       <td><%= quizes[i].tema %></td>
       
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
     
      <!--<td> <a href="/quizes/<%= quizes[i].id %>/edit"><buttom type="button">editar</buttom></td>-->
      
      <td><button onclick="window.location.href='/quizes/<%= quizes[i].id %>/edit'">editar</button></td>
      
      <td>
          <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
              borrar
            </button>
          </form>
        </td>
    </tr> 
  <% } %>
</table>



</div>