
<!-- buscar pregunta -->

 <form method="get" action="/quizes" class="bootstrap-frm" style="text-align: left">        
        Filtrar Preguntas: 
        <input type="text" name="textoAbuscar" value="" style="width: 15%"/>
        <input type="submit" value="Buscar" class="button">
 </form>

<!-- lista de pregutas -->
<div class="bootstrap-frm">
  
<h1>LISTA DE PREGUNTAS</h1>
  
<table>
  <%if(session.user){%>
  <tr>
    <td><a href="/quizes/new"><button class="button">Crear pregunta</button></a></td>
  </tr>
  <%}%>
  <tr>
    <td><strong>Tema</strong></td>
    <td><strong>Pregunta</strong></td>
    <td></td>
    <td></td>
  </tr>
  <% var i; for (i=0; i < quizes.length; i++) { %>    
    <tr>
       <td><%= quizes[i].tema %></td>
       
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
     
      <!--<td> <a href="/quizes/<%= quizes[i].id %>/edit"><buttom type="button">editar</buttom></td>-->
      <%if(session.user) {
         if (session.user.isAdmin || session.user.id === quizes[i].UserId) {%>
         
      <td><button onclick="window.location.href='/quizes/<%= quizes[i].id %>/edit'" class="button">editar</button></td>
      
      <td>
          <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" class="button">
              borrar
            </button>
          </form>
        </td>
        
     <%}}%>
    </tr> 
  <% } %>
</table>

</div>